<div class="wrapper">
  <div class="left-bar">
    <%= render "left_side" %>
  </div>

  <div class="middle-bar">
    <%= render "middle" %>
  </div>
  
  <div class="right-bar">
    <%= render "right_side" %>
  </div>
</div>